{% extends 'base.html' %}
{% block content %}
<div class="bg row">
  <!-- <div class="col-2"></div> -->
  <div class=" mt-xl-5">
    <form  action="{{ url_for('predict')}}" method="post" class="mt-xl form-horizontal mt-xl-5 border p-4 border-dark rounded" >
      <center>
          <h1>{% block title %} Ensemble {% endblock %}</h1>
          <!-- <h1 class="mt-xl-2 mb-xl-5">Cardio Vascular Disease</h1> -->
        </center>
        <div class="mt-xl-2">
          <div class="form-row mt-xl-4">
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Age in years" name="age" required>
            </div>
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Gender 1:M 0:F" name="sex" required>
            </div>
          </div>
          <div class="form-row mt-xl-4">
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Chest Pain Type" name="chest pain type" required>
            </div>
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Resting BP S" name="resting bp s" required>
            </div>
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Cholesterol" name="cholesterol" required>
            </div>
          </div>
          <div class="form-row mt-xl-4">
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Fasting Blood Sugar" name="fasting blood sugar" required>
            </div>
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Resting ECG" name="resting ecg" required>
            </div>
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Max Heart Rate" name="max heart rate" required>
            </div>
          </div>
          <div class="form-row mt-xl-4">
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Exercie angina" name="exercise angina" required>
            </div>
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="Oldpeak" name="oldpeak" required>
            </div>
            <div class="col">
              <input type="text" class="form-control p-xl-4" placeholder="ST Slope" name="ST slope" required>
            </div>
          </div>
          <div class="text-center mt-xl-4">
            <button type="submit" class="btn btn-outline-primary btn-lg px-xl-5 py-lg-2">Submit</button>
          </div>
        </div>
      </form>
  </div>
  </div>
{% endblock %}