{% extends 'base.html' %} {% block content %}
<div>
  <h1 class="text-primary mt-lg-4">
    {% block title %} Cardio Vascular Disease {% endblock %}
  </h1>
  <h3>
    A type of disease that affects the heart or blood vessels. The risk of
    certain cardiovascular diseases may be increased by smoking, high blood
    pressure, high cholesterol, unhealthy diet, lack of exercise, and obesity.
  </h3>
  <h3>
    An Ensemble Approach to Predict the Presence of Cardio Vascular Disease
    using Machine Learning and Deep Learning.
  </h3>
</div>
{% endblock %}
