<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>NEW</title>
  </head>
  <body class="mx-auto" style="width: 80%">
    <div>
      <h3 class="text-center">CARADIO VASCULAR DISEASE</h3>
    </div>
    <div>
      <form action="{{ url_for('predict')}}" method="post" class="mt-xl">
        <div class="mt-lg-2">
          <div class="form-row">
            <!-- <div class="col">
              <input type="text" class="form-control" placeholder="ID" name="id" required>
            </div> -->
            <div class="col">
              <input type="text" class="form-control" placeholder="Age" name="age" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Gender 1:M 2:F" name="gender" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Height in cms" name="height" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Weight" name="weight" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Systolic Blood pressure" name="ap_hi" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Diastolic Blood pressure" name="ap_lo" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Cholesterol" name="cholesterol" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Glucose" name="gluc" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Smoking" name="smoke" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Alcohol" name="alco" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Physical activity" name="active" required>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-outline-primary btn-lg">Primary</button>
          </div>
        </div>
      </form>
    {{ prediction_text }}
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>